.body{
    display: flex;
}

.tarjeta{
    align-content: center;
    width: 300px;
    padding: 20px;
    border-radius: 10%;
}

.coco{
    border-radius: 50%;
}

/*La tarjeta debe estar centrada tanto vertical como horizontalmente en la página.
Debe tener un ancho fijo de 300px y un relleno (padding) de 20px.
Redondea las esquinas de la tarjeta utilizando border-radius.
Posicionamiento del Avatar:
El avatar debe estar absolutamente posicionado en la esquina superior izquierda de la tarjeta, parcialmente superpuesto con el borde superior de la tarjeta.
Aplica un borde circular al avatar utilizando border-radius: 50%.
Centrado del Contenido:
El nombre, descripción y botón deben estar centrados horizontalmente dentro de la tarjeta.
Usa text-align: center para centrar el texto.

